.accordion-demo-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;

  h1 {
    margin-bottom: 0;
  }
}

.accordion-options {
  background-color: var(--color-bg-tertiary);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;

  label {
    display: block;
    margin: 10px 0;
    cursor: pointer;
  }
}
