@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'League Gothic', sans-serif;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
