.Accordion {
  width: 100%;
  max-width: 800px;
  margin: 0;

  .Accordion-item {
    border: 1px solid var(--color-border);
    margin-bottom: 10px;
    
    .title {
      padding: 15px;
      background-color: var(--color-bg-tertiary);
      color: var(--color-text-secondary);
      cursor: pointer;
      font-weight: bold;
      display: flex;
      align-items: center;
      
      .icon {
        margin-right: 10px;
        font-size: 0.8em;
        transition: transform 0.3s ease;
      }
      
      &:hover {
        background-color: var(--color-bg-tertiary-hover);
      }
    }
    
    .content {
      padding: 15px;
      background-color: var(--color-bg-secondary);
      color: var(--color-text-primary);
    }

    &.-open {
      .title {
        .icon {
          transform: scaleY(-1);
        }
      }
    }
  }
}
